<igx-input-group type="search" class="search">
  <igx-prefix>
    <igx-icon>search</igx-icon>
  </igx-prefix>
  <input
    #search
    igxInput
    placeholder="Search User"
    [(ngModel)]="searchContact"
  />
  <igx-suffix *ngIf="search.value.length > 0" (click)="searchContact = null">
    <igx-icon>clear</igx-icon>
  </igx-suffix>
</igx-input-group>

<div class="list-sample">
  <igx-list>
    <h4>Users</h4>
    <br />
    <button type="button" class="btn-primary" (click)="fileDownload()">
      Export Users as (CSV)
    </button>
    <br />
    <!-- isHeader="true" -->
    <igx-list-item
      igxRippleTarget=".igx-list__item-content"
      #item
      *ngFor="let user of users.results | igxFilter: filterContacts"
    >
      <igx-avatar
        igxListThumbnail
        class="img-container"
        [src]="user.picture.thumbnail"
      ></igx-avatar>
      <!-- roundShape="true" -->
      <span igxListLineTitle>{{ user.name.first }} {{ user.name.last }}</span>
      <span igxListLineSubTitle>
        Email:{{ user.email }} Phone : {{ user.phone }}

        <button mat-button color="primary" (click)="openViewMoreModal(user)">
          View more
        </button>
      </span>
      <igx-icon
        igxListAction
        [style.color]="user.email ? 'black400' : 'black400'"
        (click)="viewUserModal(user)"
        >visibility</igx-icon
      >
      <igx-icon
        igxListAction
        [style.color]="user.email ? 'black400' : 'black400'"
        (click)="openEditModal(user)"
        >edit</igx-icon
      >
      <igx-icon
        igxListAction
        [style.color]="user.email ? 'black400' : 'black400'"
        (click)="openDeleteModal(user)"
        >delete</igx-icon
      >
    </igx-list-item>
  </igx-list>
</div>
